<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ldscd.callingworkflow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name=".display.CWFApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".display.OrgListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".display.CallingListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".display.OrgListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".display.CallingDetailActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/title_calling_detail"
            android:parentActivityName=".display.CallingListActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".display.CallingListActivity" />
        </activity>
        <activity android:name=".display.SettingsActivity" />
        <activity android:name=".display.AboutActivity" />
        <activity android:name=".display.CreateCallingActivity" />

        <service
            android:name=".google.MyDriveEventService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".display.PositionDetailActivity"
            android:label="@string/title_activity_position_detail" >
        </activity>
    </application>

</manifest>